{% macro table(users)  %}


<table class="table">
 <thead class="thead-dark" >
   <tr>
     <th> Username </th>
     <th> Password </th>
   </tr>
  </thead>
  <tbody>        <!-- variável do jinja2  -->
    {% for documento in users  %}
      <tr>
        <td> {{ documento.username  }}  </td>
        <td> {{ documento.password }} </td>
      </tr>
    {% endfor  %} 
  </tbody>

<h1> Estou dentro de uma macro! </h1>


{% endmacro  %}
