{% extends "base.html" %}

{% set title= 'Users'  %}


{% block titulo %} {{ title  }}  {% endblock %}


{% block main  %} 

<h1> Users </h1>

<table class="table">
 <thead class="thead-dark" >
   <tr>
     <th> Username </th>
     <th> Password </th>
   </tr>
  </thead>
  <tbody>        <!-- variável do jinja2  -->
    {% for documento in context  %}
      <tr>
        <td> {{ documento.username  }}  </td>
        <td> {{ documento.password }} </td>
      </tr>
    {% endfor  %} 
  </tbody>

{% endblock  %}

