{% macro profile(context)  %}
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
        Profile
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
   		<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  			<div class="px-4 py-5 sm:px-6">
    			<h3 class="text-lg leading-6 font-medium text-gray-900">
      			User Information
    			</h3>
  			</div>
  			<div class="border-t border-gray-200">
    			<dl>
      			<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        			<dt class="text-sm font-medium text-gray-500">
          			Nome Completo
        			</dt>
        			<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          			{{ context.full_name  }}
        			</dd>
      			</div>
      			<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        			<dt class="text-sm font-medium text-gray-500">
          			Cargo
        			</dt>
        			<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
               {{ context.position }}
        			</dd>
      			</div>
      			<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        			<dt class="text-sm font-medium text-gray-500">
          			Email
        			</dt>
        			<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
               {{ context.email  }}
        			</dd>
      			</div>
      			<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        			<dt class="text-sm font-medium text-gray-500">
          			Data de Registro
        			</dt>
        				<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ context.registration_date  }}
        				</dd>
      			</div>

{% endmacro %}
